*{
    background-color: rgb(11, 11, 11);
    color:white;
    /* list-style: none; */
}

/*HEADER*/
._header{
    padding: 10px;
    margin: 5px;
}

._header ._header-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

._header ._header-content .title{
    margin: 15px;
} 
._header ._header-content .sub-title{
    margin: 15px;
} 

/*EJERCICIOS*/
._excersice{
    margin-left:10px;
    padding: 15px;
}

._excersice ._title-excersice{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

._excersice ._title-excercise ._num-excersice{
    font-size: 18px;
    font-weight: 700;
}

._code{
    margin-left:10px;
    padding: 15px;
}

._mode{
    display: flex;
    align-items: center;
}